$greeter-height: 75vh;
$image-size: 150px;

#parallax-container {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    perspective: 1px;
}

#greeter {
    position: relative;
    width: 100%;
    height: $greeter-height;
    background: radial-gradient(at 50% 100%, rgb(25, 38, 54) 0%, rgb(10, 11, 16) 81%);
    transform: translateZ(-1px) translateY(-12.5vh) scale(2);
    z-index: -2;
    transform-style: preserve-3d;
    backface-visibility: hidden;

    overflow: hidden;
    overflow-y: auto;
    perspective: 1px;
}

/*@media only screen and (min-width: 600px) {
    #greeter > #greeter-title-container {
        
    }
}

@media only screen and (max-width: 600px) {
    #greeter > #greeter-title-container {
        flex-direction: column;
    }
}*/

#greeter-banner-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 95%;
    transform-style: preserve-3d;
    transform: translateZ(-1px) scale(2) translateY(-30vh);

    font-family: Comfortaa, "Trebuchet MS", Helvetica, sans-serif;
    font-display: block;
    font-size: 35pt;
    color: white;
}

#greeter-title-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: $image-size;
    transform-style: preserve-3d;
}

#greeter-title {
    flex: 0 1 auto;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.37), 0 0 80px rgba(255, 255, 255, 0.68);
}

#greeter-subtitle-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: $image-size;
    transform-style: preserve-3d;
}

#greeter-subtitle {
    flex: 0 1 auto;
    font-size: 25pt;
    font-family: Saira, monospace;
    font-weight: 100;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.37), 0 0 80px rgba(255, 255, 255, 0.68);
}

#greeter-title > #name {
    display: inline-block;
    position: relative;
    top: 50%;
    transform-style: preserve-3d;
    transform: translateY(-50%);
}

@media only screen and (max-width: 400px) {
    #greeter-title #surname {
        display: none;
    }
}

#greeter-banner-container #placeholder {
    transform-style: preserve-3d;
    flex: 0 10 75px;
    min-width: 20px;
}

@media only screen and (max-width: 400px) {
    #greeter-banner-container #placeholder {
        flex: 0 10 20px;
        min-width: 20px;
    }
}

#greeter-image-container {
    flex: 0 0 $image-size;
    transform-style: preserve-3d;
}

#greeter-image-container > img {
    transform-style: preserve-3d;
    width: $image-size;
    border-radius: calc($image-size / 2);
    height: auto;
}

#greeter-image-blurred {
    position: absolute;
    left: 0;
    top: 0;
    filter: blur(50px);
    opacity: 0.5;
}

.below-greeter {
    position: relative;
    box-shadow: 0 0 40px #00000014;
    background-color: white;
    overflow: auto;
    min-height: 100%;
    width: 100%;
    background-color: #101620;
}

#stars-canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;

    backface-visibility: hidden;
    transform: translateZ(-3px) scale(4);
    z-index: -1;
}