

.project-widget {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    border-radius: 30px 30px 10px 10px;
    border: 1px solid #526e7bb0;
    overflow: hidden;
    margin-bottom: 50px;
}

.project-widget-header {
    position: relative;
    flex: 0 0 auto;
    width: 100%;
    min-height: 135px;
    overflow: hidden;
}

.project-widget-header-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;

    filter: blur(2px);
    transform: scale(1.1);
    box-shadow: inset 0 0 40px #000000bd;
}

.project-widget-header-title {
    position: relative;

    font-family: Jost, "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18pt;
    color: white;

    text-shadow: 3px 3px 5px black, 0 0 2px black;
    padding: 20px;
}

.project-widget-strip {
    flex: 0 0 auto;
    width: 100%;
    height: 8px;
    background-color: yellow;
}

.project-widget-preview {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    gap: 20px;
    padding: 0 20px 0 20px;
    //justify-content: space-evenly;
    background-color: #1c2b42;
    position: relative;

    width: 100%;
    height: 100px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.project-widget-preview-image-container {
    position: relative;
    flex: 0 0 auto;
    width: 200px;
    height: 100%;
    margin-top: 10px;
}

.project-widget-preview-image-container > .project-widget-preview-image {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.3s;
    background-size: cover;
}

.project-widget-preview-image-container > .project-widget-preview-image:hover {
    transform: scale(0.8);
}

.project-widget-content {
    display: flex;
    flex-direction: column;

    flex: 0 0 auto;
    width: 100%;
    padding-bottom: 20px;
    background-color: #1c2b42;
    padding: 20px;

    font-family: Jost, "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12pt;
    color: white;
}

.project-widget-content-description {
    flex: 0 0 auto;
    width: 100%;
    height: fit-content;
    text-align: justify;
}

.project-widget-content-footer {
    flex: 0 0 auto;
    width: 100%;
    height: fit-content;
}

.project-widget-content-footer > ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 5px;

    margin: 10px 0 0 0;
    padding: 0;
}

.project-widget-content-footer > ul > li {
    cursor: pointer;
    transition: 0.1s;
}

.project-widget-content-footer > ul > li:hover {
    transform: scale(1.2);
}

.blur-box {
    position: relative;
    margin-bottom: 50px;
}

.blurred {
    position: absolute;
    top: 0;
    left: 0;
    //filter: blur(40px);
    opacity: 0.4;
}