

#skill-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.skill-set {
    position: relative;
    flex: 0 0 auto;
    width: 100%;
    background-color: #2b3542;

    border-radius: 20px;
    margin-bottom: 50px;
}

.skill-set-title {
    width: 100%;

    font-family: Saira, "Trebuchet MS", Helvetica, sans-serif;
    color: white;
    font-size: 18pt;

    padding: 10px 20px 10px 20px;
}

.skill-set-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 30px;

    padding: 10px 20px 20px 20px;
    
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .skill-set-list {
        justify-content: center;
    }
}


.skill-set-list > img {
    height: 100px;
    transition: 0.3s;
    filter: drop-shadow(0 0 15px rgba(108, 130, 196, 0.47));
}

.skill-set-list > img:hover {
    transform: scale(1.1);
}