#tab-bar {
    width: 100%;
    height: 10vh;
    margin: 30px 0 0 0;
}

#tab-bar > ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 80px;
}

@media only screen and (max-width: 400px) {
    #tab-bar > ul {
        gap: 6vw;
    }
}

#tab-bar > ul > li {
    display: flex;
    flex-direction: column;

    flex: 0 1 auto;
    color: white;
    text-align: center;

    font-family: Comfortaa, "Trebuchet MS", Helvetica, sans-serif;
    font-size: 15pt;

    cursor: pointer;
}

@media only screen and (max-width: 400px) {
    #tab-bar > ul > li {
        font-size: 12pt;
    }
}

#tab-bar > ul > li > div {
    flex: 0 0 auto;
    width: 100%;
}

#tab-bar > ul > li > .underscore {
    height: 2px;
    background-color: white;
    border-radius: 3px;
    transform: scaleX(0);
    transform-origin: 0;
    transition: 0.1s;
}

#tab-bar > ul > li > .active {
    transform: scaleX(1);
}

#tab-bar > ul > li:hover > .underscore {
    transform: scaleX(1);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.26);
}

#visible-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

#visible-content-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 0 0 auto;
    width: 100%;
}

.visible-content-row {
    flex: 0 0 auto;
    max-width: 1024px;
    width: 90%;
}