table {
    position: relative;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    border-spacing: 20px;
    cursor: default;

    font-family: Jost, "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12pt;
    color: white;

    filter: drop-shadow(0 0 10px #fff3);
}

td {
    border: 1px solid white;
    border-radius: 15px;
    padding: 5px;
    padding-left: 20px;
    transition: 0.1s;
    cursor: pointer;
}

td:hover {
    background-color: white;
    color: black;
}

td:focus-within {
    background-color: white;
    color: black;
}

@media only screen and (max-width: 600px) {
    td {
        padding-left: 5px;
    }
}

td:first-child {
    padding-left: 0;
    border: none;
    transform: translateY(-66%);
}

td:first-child:hover {
    background-color: transparent;
    color: white;
}

.open-top {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 10px;
}

.open-bottom {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 0;
}

.empty-td {
    border: none;
    padding: 0;
}

.empty-td:hover {
    background-color: transparent;
}

#info-box {
    display: flex;
    flex-direction: column;

    position: relative;
    width: 100%;
    min-height: 100px;

    margin-top: 50px;
    margin-bottom: 50px;
    border: 8px solid white;
    padding: 20px;

    font-family: Jost, "Trebuchet MS", Helvetica, sans-serif;
    color: white;

    filter: drop-shadow(0 0 10px #fff3);
}

#info-box-title {
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 30px;

    font-size: 18pt;
    font-weight: bold;
}

#info-box-description {
    flex: 0 0 auto;
    width: 100%;
    font-size: 14pt;
}